.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/login.webp');
  background-size: cover;       /* full screen cover kare */
  background-position: center;  /* center align */
  background-repeat: no-repeat;
}

.auth-card {
  background:rgba(0,0,0,0.5);
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  color: #fcfbfb;
}

.auth-card h1 {
  text-align: center;
  color: #fcfbfb;
  font-size: 180%;
}

.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 100%;
  color: #fafafa;
}

input {
  width: 93%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: black;
}

input:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 5px rgba(102,126,234,0.4);
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: #8096f7;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #5563c1;
}

.switch-text {
  text-align: center;
  margin-top: 20px;
  padding: 12px;
  background-color: #f3f4ff;   /* light background */
  border: 1px solid #667eea;   /* border color */
  border-radius: 8px;
  color: black;
}

.switch-text a {
  color: #667eea;
  font-weight: bold;
  text-decoration: none;
}

.switch-text a:hover {
  text-decoration: underline;
}
.auth-card span {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.show-pass{
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.show-pass input{
  width: auto;
}