<div class="container">

  <h2>Assigned Complaints</h2>

  <table border="1" width="100%">

    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let c of complaints">

      <td>{{ c.user?.name }}</td>
      <td>{{ c.title }}</td>
      <td>{{ c.status }}</td>

      <td>
        <button (click)="updateStatus(c._id, 'In Progress')">
          In Progress
        </button>

        <button (click)="updateStatus(c._id, 'Completed')">
          Completed
        </button>
      </td>

    </tr>

  </table>

</div>