<div class="wrapper">

  <!-- HEADER -->
  <header class="header">
   <div class="logo-box" routerLink="/login">
      <img src="assets/logo.png" alt="Logo" class="logo-img">
     
    </div>

    <nav>

<a routerLink="/admin/dashboard">Dashboard</a>

<a routerLink="/admin/create-agent">Create Agent</a>

<a routerLink="/admin/dashboard">All Complaints</a>

<a routerLink="/login" class="logout">Logout</a>

</nav>
  </header>

  <!-- PAGE CONTENT -->
   <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    © 2026 Complaint Management System | Admin
  </footer>

</div>