<div class="change-wrapper">

  <div class="change-card">

    <h2>🔐 Change Password</h2>

    <form (ngSubmit)="changePassword()">

      <div class="input-group">
        <input
          [type]="showCurrent ? 'text' : 'password'"
          placeholder="Current Password"
          [(ngModel)]="currentPassword"
          name="currentPassword"
          required
        />

        <div class="show-pass">
          <input type="checkbox" (change)="toggleCurrent()">
          <label>Show</label>
        </div>
      </div>

      <div class="input-group">
        <input
          [type]="showNew ? 'text' : 'password'"
          placeholder="New Password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        />

      
      </div>

      <div class="input-group">
        <input
          [type]="showConfirm ? 'text' : 'password'"
          placeholder="Confirm New Password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />

        <div class="show-pass">
          <input type="checkbox" (change)="toggleConfirm()">
          <label>Show</label>
        </div>
      </div>

      <button type="submit" class="btn-update">
        Update Password
      </button>

    </form>

    <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  </div>

</div>